@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  text-align: center;
  cursor: url("./assets/Gex_cursor.webp"), default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}